:root{
    --primery-color: #F5F5F5;
    --accent-color: #2196F3;
    --secondary-wite-color: #ffffff;
    --primery-text-color: #212121;
    --secondary-text-color: #757575;
}

body {
    background-color: var(--primery-color);
    color: var(--secondary-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    font-size: 14px;
}

h1, h2, h3, ul, p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
    /* Лого */
.studio {
    color: #000000;
    font-family: raleway, sans-serif;
    font-size: 26px;
    line-height: 1.17;
    text-decoration: none;
    display: inline-block;
    margin-right: 93px;
}

.studio-footer {
    color: var(--secondary-wite-color);
    font-family: raleway, sans-serif;
    font-size: 26px;
    line-height: 1.17;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

.span-logo, .nav-link-current {
    color: var(--accent-color);
}
    /*Посилання*/
.nav-link:hover, .link:hover, .nav-link:focus, .link:focus, .footer-address a:focus, .footer-address a:hover {
    color: var(--accent-color);
}

.ul {
    list-style: none;
}
    /* Навігація */
.nav-link {
    color: var(--primery-text-color);
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav {
    display: flex;
}

.nav li:not(:last-child) {
    margin-right: 50px;
}

.link {
    color: var(--secondary-text-color);
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.header {
    display: flex;
    margin-left: auto;
}

.header li:not(:last-child){
    margin-right: 50px;
}

.container nav{
    display: flex;
    align-items: center;
}

header .container{
    display: flex;
    align-items: center;
}

    /* Герой */
.main-title {
    color: var(--secondary-wite-color);
    font-weight: 900;
    font-size: 44px;
    text-transform: uppercase;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.main-button {
    background-color: var(--accent-color);
    color: var(--secondary-wite-color);
    border-color: var(--accent-color);
    cursor: pointer;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    margin-top: 30px;
    padding: 10px 32px;
}

.main-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    text-align: center;
}
    /* Інструменти*/
.tools-title {
    color: var(--primery-text-color);
    font-size: 14px;
    line-height: 1.17;
    margin-bottom: 10px;
}

.secondary-title {
    color: var(--primery-text-color);
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
    text-align: center;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.tools {
    display: flex;
    flex-wrap: wrap;
}

.li-tools {
    width: 270px;
}
.li-tools:not(:last-child){
    margin-right: 30px;
}
    /*Роботи*/
.works {
    display: flex;
    align-items: center;
}

.works li:not(:last-child) {
    margin-right: 30px;
}
    /*Команда*/
.team-title {
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    margin-top: 30px;
    text-align: center;
}

.title {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.team {
    display: flex;
}

.team li:not(:last-child) {
    margin-right: 30px;
}

.team li {
    background-color: var(--secondary-wite-color);
}
    /*Футер*/
.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-address a {
    color: rgba(256, 256, 256, 0.6);
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
    display: inline-block;
    margin-bottom: 9px;
}

.footer-address .address-link {
    color: var(--secondary-wite-color);
    text-decoration: none;
}

    /* Фільтр портфоліо*/
.button {
    cursor: pointer;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
}

.button:hover, .button:focus {
    color: var(--secondary-wite-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.portfolio-title {
    color: var(--primery-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.88;
}

.nav-link-current {
    text-decoration: none;
}